body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
h1 span{
    color: orange;
}
.container{
    width: 90%;
    margin: 0 auto;
}
section .container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width a{
    display: inline-block;
    padding: 15px 30px;
    background-color: orange;
    border-radius: 25px 25px 30px 30px / 15px 15px 65px 65px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.half-width img{
    width: 100%;
    margin: 0;
    padding: 0;
    height: cover;
}
.top{
    background-image: url(img/top-banner.png);
    overflow: hidden;
    background-repeat: no-repeat;
}
.dream .half-width h1{
    margin-left: 100px;
}
.dream .half-width h3{
    margin-left: 100px;
}
.dream .half-width p{
    margin-left: 100px;
}
.dream .half-width a{
    margin-left: 100px;
}
.dream .half-width h1{
    font-size: 45px;
    font-weight: 500;
}
.dream{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bottom-experience .half-width{
    border-radius: 20px;
    box-shadow: 10px 10px 8px 4px rgba(0, 0, 255, .3);
    border-left: 15px solid;
    border-image: linear-gradient(
180deg, blue, cyan);
border-image-slice: 1;
    margin-left: 30px;
}
.bottom-experience .container{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.footer{
    text-align: center;
    margin: 200px 0 30px 0;
}